@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: large;
}

/*
 * Page layout
 */
.page-layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 2rem;
  margin: 0 auto;
  padding: 2rem;
}

.toc-sidebar {
  position: relative;
}

.content {
  position: relative;
  min-width: 0;
  margin-left: 0.5em;
}

/*
 * Title
 */
.title {
  font-size: xx-large;
  font-weight: 600;
}

/*
 * Prose styles
 */
.prose {
  max-width: 38em;
}

.prose a {
  color: #009ef9;
}

.prose a:hover {
  box-shadow: 0 2px #009ef9;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  /* @apply visible; */
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
  box-shadow: unset;
}

.prose p {
  @apply my-4 text-neutral-800 dark:text-neutral-200;
}

.prose h1 {
  @apply text-4xl font-medium tracking-tight mt-6 mb-2;
}

.prose h2 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h3 {
  @apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h4 {
  @apply text-lg font-medium tracking-tight mt-6 mb-2;
}

.prose strong {
  @apply font-medium;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

/*
 * Inline note
 */
.inline-note {
  display: block;
  padding: 1em;
}

/*
 * Footnotes
 */
.footnotes {
  /* Default (desktop): hide footnotes, show margin notes */
  /* @apply hidden; */
}

.footnotes li {
  margin-bottom: 0.5em;
}

.footnote-number {
  @apply text-lg font-semibold;
  letter-spacing: 0.08em;
}

.margin-note {
  @apply block text-sm leading-[1.15];
  float: right;
  clear: right;
  width: 250px;
  margin-right: -18rem;
  margin-top: -10px;
  margin-bottom: 0.4rem;
  padding-top: 0.4rem;
  padding-bottom: 0.1rem;
  font-size: 0.75rem;
  position: relative;
  isolation: isolate;

  /* Line clamping */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Gradient to black at the bottom */
.margin-note::after {
  content: '';
  position: absolute;
  bottom: -0.1em;
  right: 0;
  width: 100%;
  height: 1rem;
  cursor: text;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
}

.margin-note.expanded {
  padding-bottom: 0.6rem;
  overflow: visible;
  display: block;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
}

/*
 * Table of Contents
 */
.toc-div {
  position: sticky;
  top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.toc-list {
  font-size: smaller;
}

.toc-title {
  font-size: x-large;
}

.toc-item {
  margin-left: 1.5em;
  font-weight: 600;
  opacity: 0.8;
}

.toc-item.active {
  opacity: 1;
}

.toc-item a:hover {
  opacity: 0.7;
}

.toc-item.toc-level-2 {
  list-style-type: disc;
}

.toc-item.toc-level-3 {
  list-style-type: circle;
}

/*
 * Bibliography
 */
.csl-bib-body {
  margin-left: 1em;
  width: 90%;
}

.csl-entry {
  margin-bottom: 0.5em;
  font-size: smaller;
}

/*
 * Responsive styles
 */
@media (max-width: 1200px) {
  .page-layout {
    grid-template-columns: 1fr;
  }

  .toc-sidebar {
    display: none;
  }

  .content {
    max-width: 38em;
    margin: 0 auto;
  }

  .footnotes {
    @apply block mt-8 pt-8 border-t border-gray-300 text-sm;
  }

  .margin-note {
    @apply hidden;
  }
}